@model IEnumerable<School_Project.Models.Schedule>

@{
    ViewData["Title"] = "Timetable";
}
 <section class="d-flex pt-80 justify-content-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">

<div class="col All-Views  overflow-auto">
    <div class="d-flex align-items-center back-action">
        <a asp-action="WeekTimetable" asp-route-ClassId="@ViewBag.ClassId" type="button" class="btn mr-3 d-flex align-items-center" title="Go back to week timetable">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left mr-2" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Go back</a>
        <h1>@ViewBag.WeekDay</h1>
    </div>
    



    <table class="table table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Hour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                    @if(!User.IsInRole("Teacher"))
    {
                <th>
                    @Html.DisplayNameFor(model => model.Teacher)
                </th>
    }
                    @if(User.IsInRole("Teacher"))
    {
                <th>
                    @Html.DisplayNameFor(model => model.Class.Class1)
                </th>
    }
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                    @if(!User.IsInRole("Teacher"))
    {
                <th>
                    @item.Teacher.FirstName @item.Teacher.LastName
                </th>
    }
                    @if(User.IsInRole("Teacher"))
    {
                <th>
                    @Html.DisplayFor(modelItem => item.Class.Class1)
                </th>
    }

                    @if(User.IsInRole("Principal"))
    {
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-index="@ViewBag.index" asp-route-ClassId="@ViewBag.ClassId">Delete</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-DayId="@ViewBag.Index" asp-route-Hour="@item.Hour" asp-route-ClassId="@ViewBag.ClassId">Edit</a>
                </td>
    }
            

            </tr>
    }
        </tbody>
    </table>
                    @if(User.IsInRole("Principal"))
    {
    <p>
        <a class="btn btn-success" asp-action="Create" asp-route-ClassId="@ViewBag.ClassId">New Schedule</a>
    </p>
    }
</div>
</div>
</div>
</section>