@model IEnumerable<School_Project.Models.Schedule>

@{
    ViewData["Title"] = "Timetable";
}
 <section class="d-flex pt-80 justify-content-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
    @*<a asp-action="WeekTimetable" asp-route-ClassId="@ViewBag.ClassId" type="button" class="btn btn-secondary w-auto fixed-top">Go back to week timetable</a>*@

<div class="col All-Views overflow-auto">
    <h1>Timetable</h1>



    <table class="table table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Hour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                    @if(!User.IsInRole("Teacher"))
    {
                <th>
                    @Html.DisplayNameFor(model => model.Teacher)
                </th>
    }
                    @if(User.IsInRole("Teacher"))
    {
                <th>
                    @Html.DisplayNameFor(model => model.Class.Class1)
                </th>
    }
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                    @if(!User.IsInRole("Teacher"))
    {
                <th>
                    @item.Teacher.FirstName @item.Teacher.LastName
                </th>
    }
                    @if(User.IsInRole("Teacher"))
    {
                <th>
                    @Html.DisplayFor(modelItem => item.Class.Class1)
                </th>
    }

                    @if(User.IsInRole("Principal"))
    {
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-index="@ViewBag.index" asp-route-ClassId="@ViewBag.ClassId">Delete</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-DayId="@ViewBag.Index" asp-route-Hour="@item.Hour" asp-route-ClassId="@ViewBag.ClassId">Edit</a>
                </td>
    }
            

            </tr>
    }
        </tbody>
    </table>
                    @if(User.IsInRole("Principal"))
    {
    <p>
        <a class="btn btn-success" asp-action="Create" asp-route-ClassId="@ViewBag.ClassId">New Schedule</a>
    </p>
    }
</div>
</div>
</div>
</section>