@model IEnumerable<School_Project.Models.Schedule>

@{
    ViewData["Title"] = "Timetable";
}

<h1>Timetable</h1>

                @if(User.IsInRole("Principal"))
{
                <p>
    <a asp-action="Create">Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
                @if(!User.IsInRole("Teacher"))
{
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
}
                @if(User.IsInRole("Teacher"))
{
            <th>
                @Html.DisplayNameFor(model => model.Class.Class1)
            </th>
}
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                @if(User.IsInRole("Teacher"))
{
            <th>
                @Html.DisplayFor(modelItem => item.Class.Class1)
            </th>
}

                @if(User.IsInRole("Principal"))
{
                <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
}
            

        </tr>
}
    </tbody>
</table>
