@using School_Project.Models
@model School_Project.Models.User []

@{
    ViewData["Title"] = "Grades";
}
 <section class="d-flex pt-80 justify-content-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
<h1>@ViewBag.Class.Class1</h1>


    <div class="overflow-auto">
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Student
            </th>
                            @for(int i = 1; i < ViewBag.DaysInMonth+1; i++)
                            {
                                <th class="t-a-c">
                                    @i
                                </th>
                            }
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Count(); i++)
{

        <tr>
            <td>
                @Model[i].FirstName @Model[i].LastName
            </td>
                            @for(int z = 1; z < ViewBag.DaysInMonth+1; z++)
                            {
                                <td>
                                    
                                            @{
                                                Grade[] grades = ViewBag.Grades; 
                                            }
                                            @if(!Array.Exists( grades, element => element.Day.Day == z && element.StudentId == Model[i].Id))
                                            {
                                                <a href="#teacherModal" class="btn teacherModalButton edit" data-toggle="modal">-</a>
                                                <input type="hidden" class="CreatingDay" value="@z" />
                                            <input type="hidden" class="CreatingStudentId" value="@Model[i].Id" />



                                        }
                                        else
                                        {
                                            {
                                                Grade grade = grades[Array.FindIndex(grades, val => val.Day.Day == z && val.StudentId == Model[i].Id)];
                                                <a href="#teacherModal" class="btn teacherModalButton edit" data-toggle="modal">@grade.Grade1</a>
                                                <input type="hidden" class="Id" value="@grade.Id" />
                                                <input type="hidden" class="CreatingDay" value="@z" />
                                            }

                                            }
                                </td>
                            }
        </tr>
}
    </tbody>
</table>

</div>
</div>
</div>

<div class="modal" Id="teacherModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Grade</h5>
        <button type="button" class="close closeTeacherModal custom-close-icon" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="Form" method="post" >
          <div class="form-group">
            <label >Day</label>
            <input type="text" class="form-control Day" name="Day" disabled>
          </div>

          <div class="form-group">
            <label>Grade</label>
            <input type="text" class="form-control Grade" name="Grade">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary closeTeacherModal" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
          <input type="hidden" class="StudentId" name="StudentId">
          <input type="hidden" class="ItemId" name="ItemId">
          <input type="hidden" class="ClassId" name="ClassId">
          <input type="hidden" class="DayId" name="DayId">
        </form>
      </div>

   </div>
  </div>
   <div  class="modal-layer closeTeacherModal"></div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-google="tooltip"]').tooltip();

            $('table .edit').on('click', function () {
                var Id = $(this).parent().find('.Id').val();
                var CreatingStudentId = $(this).parent().find('.CreatingStudentId').val();
                $('.StudentId').val(CreatingStudentId);
                $('.ClassId').val(@ViewBag.Class.Id);
                var CreatingDay = $(this).parent().find('.CreatingDay').val();
                $('.Day').val(CreatingDay);
                $('.DayId').val(CreatingDay);
                debugger;

                if (Id != undefined) {
                    $.ajax({
                        type: 'GET',
                        url: '/MarkBook/Find/' + Id,
                        success: function(Grade) {
                            debugger;

                            $('.Grade').val(Grade.grade1);
                            $('.Day').val(CreatingDay);
                            $('.ItemId').val(Id);
                        }
                    })
                } else {

                    $.ajax({
                        type: 'GET',
                        url: '/MarkBook/Create/' + "?ClassId=" + @ViewBag.Class.Id + "&Day=" + CreatingDay,
                        success: function(IsValid) {
                            debugger;
                            if(IsValid.isValid) {
                                $('.Day').val(CreatingDay);
                            } else {
                                var teacherModal = document.getElementById("teacherModal");
                                teacherModal.classList.remove('show-modal');
                            }

                        }
                    })
                }

            })
        });
    </script>

}
</div>

</section>