@using School_Project.Models;
@{
}
   <body>
      <table border = "1">
         
         <tr>

					<td>@ViewBag.Timetable.Monday</td>

         </tr>
         <tr>
					<td>@ViewBag.Timetable.Tuesday</td>

         </tr>
         <tr>
					<td>@ViewBag.Timetable.Wednesday</td>

         </tr>
         <tr>
					<td>@ViewBag.Timetable.Thursday</td>

         </tr>
         <tr>
					<td>@ViewBag.Timetable.Friday</td>

         </tr>
      </table>
      
   </body>